.main-color-bg {
    background-color: var(--main-color);
}
.secondary-color-bg {
    background-color: var(--secondary-color);
}
.light-main-color-bg {
    background-color: var(--light-main-color);
}
.underline-color-bg {
    background-color: var(--underline-color);
}

.section-title {
    display: inline-block;
    width: 100%;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    position: relative;
    padding: 40px;
    margin-top: 40px;
}
 mark {
    background-color: transparent;
    background-image: linear-gradient(#80F3E7, #80F3E7);
    background-size: 100% 35%;
    background-repeat: no-repeat;
    background-position: bottom;
    color: currentColor;
}
    
    
/* START: header */

/* END: header */



/* START: first hero */
.first-hero {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-image: url(../img/home-bg-1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

    .first-hero h1 {
        display: inline-block;
    }

    .first-hero h4 {
        display: inline-block;
    }

        .hero-animation {
            display: inline-block;
        }

    .first-hero a {
        display: inline-block;
    }

    .first-hero img {
        display: inline-block;
        float: right;
        height: 600px;
    }


/* END: first hero */

/* START: second hero */
.second-hero {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}
    .second-hero > img {
        width: 45%;
        float: left;
        margin-left: -45px;
    }
    .second-hero > .about {
        width: 55%;
        float: left;
        margin-left: 80px;
    }
        h3 {
            font-size: 40px;
        }
        h4 {
            font-size: 27px;
            margin: 20px 0;
        }
        p {
            font-size: 22px;
            color: #868482;
            margin: 20px 0;
        }
/* END: second hero */

/* START: clients logo list */
/* END: clients logo list */