.main-color-bg {
    background-color: var(--main-color);
}
.secondary-color-bg {
    background-color: var(--secondary-color);
}
.light-main-color-bg {
    background-color: var(--light-main-color);
}
.underline-color-bg {
    background-color: var(--underline-color);
}
.border-color-bd {
    border-color: var(--border-color);
}

.section-title {
    display: inline-block;
    width: 100%;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    position: relative;
    padding: 20px 40px;
    margin-top: 40px;
}
 mark {
    background-color: transparent;
    background-image: linear-gradient(#80F3E7, #80F3E7);
    background-size: 100% 35%;
    background-repeat: no-repeat;
    background-position: bottom;
    color: currentColor;
}

p {
    text-align: center;
}
    
    
/* START: header */

/* END: header */



/* START: first hero */
/* END: first hero */

/* START: second hero */
.second-hero {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}
    .second-hero > img {
        width: 45%;
        float: left;
        margin-left: -45px;
    }
    .second-hero > .about {
        width: 55%;
        float: left;
        margin-left: 80px;
    }
        h3 {
            font-size: 40px;
        }
        h4 {
            font-size: 27px;
            margin: 20px 0;
        }
        p {
            font-size: 22px;
            color: #868482;
            margin: 20px 0;
            
        }
        
/* END: second hero */

/* START: clients logo list */
/* END: clients logo list */

/* START: MY SERVICES */

.pattern {
    display: inline-block;
    width: 100%;
    margin: 70px 0;
    text-align: center;
}
    .pattern > .block {
        display: inline-block;
        width: calc((100% - 80px) / 3);
        float: left;
        padding: 55px 40px 45px;
        margin-right: 40px;
        margin-bottom: 40px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 3px 12px #0001;
        border: 6px solid transparent;
        border-radius: 5px;
        cursor: pointer;
    }
    .pattern > .block:nth-child(3n) {
        margin-right: 0;
    }
    .pattern > .block:hover {
        border: 6px solid #ef4364;
        transform: translateY(-15px);
        transition-duration: 500ms;
    }
        .pattern > .block > i {
            font-size: 40px;
            color: #ef4364;
            line-height: 50px;
        }
        .pattern > .block > h4 {
            font-size: 25px;
            line-height: 30px;
        }
        .pattern > .block > p {
            font-size: 20px;
            line-height: 20px;
        }

/* END: MY SERVICE */

/* START: LATEST WORKS */
/* END: LATEST WORKS */

/* START: PROFESSIONAL SKILLS */
/* END: PROFESSIONAL SKILLS */

/* START: LATEST BLOGS */
/* END: LATEST BLOGS */

/* START: GET IN TOUCH */
.container > .row > .get-in-touch {
    display: inline-block;
    width: 100%;
    border: 1px solid #DEE2E6;
    text-align: center;
    box-shadow: 0 20px 50px #0001;
    background-image: url(../img/airplane2.png);
    background-position: bottom right;
    /*background-size: cover;*/
    background-repeat: no-repeat;
}
    .container > .row > .get-in-touch > h3 {
        width: 100%;
        float: left;
        text-align: left;
        margin-left: 70px;
        margin-top: 65px;
    }
    .container > .row > .get-in-touch > p {
        float: left;
        margin-left: 70px;
        margin-bottom: 30px;
    }
    form {
        display: inline-block;
        float: left;
        width: 100%;
        
    }
    form input {
        float: left;
        width: calc(50% - 90px);
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 20px;
        padding: 10px;
        border: 1px solid;
        border-color: var(--border-color);
        
        }
    form input:first-child {
        margin-left: 70px;
        margin-right: 40px;
        }
    form > textarea {
        width: calc(100% - 140px);
        /*text-align: center;*/
        padding: 10px;
        resize: vertical;
        min-height: 100px;
        max-height: 200px;
        font-size: 20px;
        line-height: 40px;
        border: 1px solid;
        border-color: var(--border-color);
    }
.container > .row > .get-in-touch > span {
    float: left;
    margin-top: 30px;
    margin-left: 70px;
    color: #868482;
    font-size: 15px;
}
.container > .row > .get-in-touch > .button {
    float: right;
    margin-top: 15px;
    margin-right: 70px;
    margin-bottom: 70px;
    font-size: 15px;
}



/* END: GET IN TOUCH */

/* START: CONTACT PART */
/* END: CONTACT PART */

/* START: FOOTER */
/* END: FOOTER */