.bars {
        display: inline-block;
        width: 100%;
}
    .progress-bar {
        color: black;
        margin-bottom: 35px;
    }

    .bars > .progress-bar > span {
        display: inline-block;
        line-height: 40px;
    }

    .bar {
        background-color: #eee;
    }

        .bar-width {
           position: relative;
           background-color: var(--secondary-color);
           height: 6px;
           animation: loading 3s 1;
        }

        @keyframes loading {
            0% {width: 0;}
        }

        .progress-number {
            display: inline-block;
            color: gray;
            line-height: 40px;
            float: right;
        }